[submodule "nft/lib/forge-std"]
	path = nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "kubers-ingress-operator/contracts/lib/forge-std"]
	path = kubers-ingress-operator/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
